{% load bootstrap4 %}
{% load static %}

<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/iris.jpg'%}">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'c/mystyle.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>




<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <img class="card-img-top" src="{% static 'img/iris.jpg' %}"alt="">
        </div>
     </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-sm  ">
                <div class="col-xl-9 col-lg-7">
                    <div class="bradcam_text">
                       <br><br> <h2> Enter the fitures </h2> <br>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                            <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>    
                                
                            {% endbuttons %}    
                    </form>
                          
                        </div>
                      </div>
                      <div class="col-lg-8 my-sm-auto">
                        <div class="card" style="border-radius: 20x;">
                          <div class="card-body p-4">
                            <div class="d-flex text-black">

                              {%if get.Species == "Iris-virginica" %}
                              <div class="flex-shrink-0 mx-1">
                                <img src="{% static 'img/Iris-virginica.jpg' %}" alt="Generic placeholder image" class="img-fluid" style="width: 420px; border-radius: 10px;">
                              </div>

                              {%elif get.Species == "Iris-setosa" %}
                              <div class="flex-shrink-0 mx-1">
                                <img src="{% static 'img/Iris-setosa.jpg' %}" alt="Generic placeholder image" class="img-fluid" style="width: 420px; border-radius: 10px;">
                              </div>

                              {%elif get.Species == "Iris-versicolor" %}
                              <div class="flex-shrink-0 mx-1">
                                <img src="{% static 'img/Iris-versicolor.jpg' %}" alt="Generic placeholder image" class="img-fluid" style="width: 420px; border-radius: 10px;">
                              </div>

                              {%else %}
                              <div class="flex-shrink-0 mx-1">
                                <img src="{% static 'img/irises.png' %}" alt="Generic placeholder image" class="img-fluid" style="width: 420px; border-radius: 10px;">
                              </div>


                              {%endif%}



                              <div class="flex-grow-1 mx-auto my-3">
                                <h5 class="mb-1">{{get.Species}}</h5>
                                
                                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 my-2" style="background-color: #efefef;">
                                  <div>
                                    <p class="small text-muted mb-1">Sepal L</p>
                                    <p class="mb-0">{{get.SepalLengthCm}} </p>
                                  </div>
                                  <div class="px-3">
                                    <p class="small text-muted mb-1">Sepal W</p>
                                    <p class="mb-0">{{get.SepalWidthCm}} </p>
                                  </div>
                                  <div>
                                    <p class="small text-muted mb-1">Petal L</p>
                                    <p class="mb-0">{{get.PetalLengthCm}} </p>
                                  </div>
                                  <div>
                                    <div class="px-3">
                                    <p class="small text-muted mb-1">Petal W</p>
                                    <p class="mb-0">{{get.PetalWidthCm}} </p>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        </div>
</div>